In [1]:
'''
File name: read_data.py
Author: ImportNumpyAsPd
Date created: 31/10/2024
Date last modified: 31/10/2024
'''

'\nFile name: read_data.py\nAuthor: ImportNumpyAsPd\nDate created: 31/10/2024\nDate last modified: 31/10/2024\n'

In [2]:
# some basic imports
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
#path data
data_path = './data/'

#Names of columns for the data
NAMES_MOVIES = ['Wikipedia movie ID','Freebase movie ID','Movie name','Movie release date','Movie box office revenue','Movie runtime','Movie languages','Movie countries','Movie genres']
NAMES_CHARACTER = ['Character Name','Actor DOB','Actor gender','Actor height','Actor ethnicity','Actor Name','Actor age at movie release','Freebase character map', 'Unknown1', 'Unknown2']

#Read data
df_character = pd.read_csv(data_path+'character.metadata.tsv', sep='\t', names = NAMES_CHARACTER, header = None)
df_movies = pd.read_csv(data_path+'movie.metadata.tsv', sep='\t', names = NAMES_MOVIES, header = None)

In [4]:
#note 

#y a des colonnes qui ont des entrÃ©es 'str', d'autre 'int', etc 
#a voir s'il faut clean up les datas, genre movie id wiki c'est en 'int' et peut etre 
#c'est mieux en 'str'

#aussi on a des multi-index sur character dataset-> a voir si on veut les tejs ou pas
#Si on veut tej
#NAMES_CHARACTER = ['Wikipedia movie ID','Freebase movie ID','Movie release date','Character Name','Actor DOB','Actor gender','Actor height','Actor ethnicity','Actor Name','Actor age at movie release','Freebase character map', 'Unknown1', 'Unknown2']
#df_character = pd.read_csv(data_path+'character.metadata.tsv', sep='\t', names = NAMES_CHARACTER, index_col= False, header = None)

In [5]:
df_character.head()

                                         Character Name   Actor DOB  \
975900 /m/03vyhn 2001-08-24                    Akooshay  1958-08-26
                 2001-08-24  Lieutenant Melanie Ballard  1974-08-15
                 2001-08-24         Desolation Williams  1969-06-15
                 2001-08-24          Sgt Jericho Butler  1967-09-12
                 2001-08-24             Bashira Kincaid  1977-09-25

                            Actor gender  Actor height Actor ethnicity  \
975900 /m/03vyhn 2001-08-24            F         1.620             NaN
                 2001-08-24            F         1.780      /m/044038p
                 2001-08-24            M         1.727         /m/0x67
                 2001-08-24            M         1.750             NaN
                 2001-08-24            F         1.650             NaN

                                     Actor Name  Actor age at movie release  \
975900 /m/03vyhn 2001-08-24      Wanda De Jesus                        42.0
                 2001-08-24  Natasha Henstridge                        27.0
                 2001-08-24            Ice Cube                        32.0
                 2001-08-24       Jason Statham                        33.0
                 2001-08-24         Clea DuVall                        23.0

                            Freebase character map    Unknown1    Unknown2
975900 /m/03vyhn 2001-08-24             /m/0bgchxw  /m/0bgcj3x  /m/03wcfv7
                 2001-08-24              /m/0jys3m  /m/0bgchn4   /m/0346l4
                 2001-08-24              /m/0jys3g  /m/0bgchn_  /m/01vw26l
                 2001-08-24             /m/02vchl6  /m/0bgchnq   /m/034hyc
                 2001-08-24             /m/02vbb3r  /m/0bgchp9   /m/01y9xg

In [6]:
df_character.index

MultiIndex([(  975900,  '/m/03vyhn', '2001-08-24'),
            (  975900,  '/m/03vyhn', '2001-08-24'),
            (  975900,  '/m/03vyhn', '2001-08-24'),
            (  975900,  '/m/03vyhn', '2001-08-24'),
            (  975900,  '/m/03vyhn', '2001-08-24'),
            (  975900,  '/m/03vyhn', '2001-08-24'),
            (  975900,  '/m/03vyhn', '2001-08-24'),
            (  975900,  '/m/03vyhn', '2001-08-24'),
            (  975900,  '/m/03vyhn', '2001-08-24'),
            (  975900,  '/m/03vyhn', '2001-08-24'),
            ...
            (  913762,  '/m/03pcrp', '1992-05-21'),
            (  913762,  '/m/03pcrp', '1992-05-21'),
            (  913762,  '/m/03pcrp', '1992-05-21'),
            (  913762,  '/m/03pcrp', '1992-05-21'),
            (  913762,  '/m/03pcrp', '1992-05-21'),
            (  913762,  '/m/03pcrp', '1992-05-21'),
            (  913762,  '/m/03pcrp', '1992-05-21'),
            (28308153, '/m/0cp05t9',       '1957'),
            (28308153, '/m/0cp05t9',       '1957'),
            (28308153, '/m/0cp05t9',       '1957')],
           length=450669)

In [7]:
df_movies.head()

,Wikipedia movie ID,Freebase movie ID,Movie name,Movie release date,Movie box office revenue,Movie runtime,Movie languages,Movie countries,Movie genres
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenÃ©t Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."
2,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D..."
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic..."
4,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}"

In [8]:
df_movies[df_movies['Wikipedia movie ID']==975900]

,Wikipedia movie ID,Freebase movie ID,Movie name,Movie release date,Movie box office revenue,Movie runtime,Movie languages,Movie countries,Movie genres
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."